@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f4f8ff;
    @apply text-gray-900 antialiased;
    font-family: 'Outfit', sans-serif;
  }

  /* Custom: Memberikan nuansa putih kebiruan (soft blue) pada background halaman */
  .bg-gray-50 {
    background-color: #f4f8ff !important;
  }
}

@layer components {
  /* Custom components bisa ditambahkan di sini */
}

@layer utilities {
  /* Custom utilities bisa ditambahkan di sini */
}
